*{
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

p{
    margin: 0;
}

body{
    margin: 0;
    padding: 0;
}

.top-bar{
    width: 100%;
    height: 51px;
    background-color: #354451;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 15px;
    border-bottom: 1px solid #536470;
}

.top-bar-left{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.top-bar-left p{
    font-size: 14px;
    color: white;
    margin-top: 6px;
}

.top-bar-left img{
    margin-bottom: 8px;
    cursor: pointer;
}

.top-bar-right{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.top-bar-right a{
    font-size: 12px;
    text-decoration: none;
    color: white;
    padding: 15px 15px 8px;
}

.top-bar-right a:hover{
    text-decoration: underline;
}

.top-bar-right img{
    padding: 15px 15px 8px;
    margin-bottom: 5px;
    cursor: pointer;
}

.top-bar-bottom{
    width: 100%;
    height: 31px;
    background-color: #354451;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px 0 15px;
}

.top-bar-bottom-left{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
}

.top-bar-bottom-left-information{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 14px;
}

.top-bar-bottom-left-information a{
    color: white;
    text-decoration: none;
}

.top-bar-bottom-left-information a:hover{
    text-decoration: underline;
}

.top-bar-bottom-right{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    align-items: center;
    font-size: 14px;
}

.top-bar-bottom-right a{
    color: white;
    text-decoration: none;
}

.top-bar-bottom-right a:hover{
    text-decoration: underline;
}

.middle-section{
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: #BEDEFF;
}

.side-bar{
    width: 20%;
    margin-top: 32px;
}

#side-bar-components-chosen{
    width: 77%;
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: #428BCA;
    border-radius: 0 4px 0;
    cursor: pointer;
    border: 1px solid #428BCA;
}

#side-bar-components-chosen .side-bar-components-top p{
    font-size: 14px;
    font-weight: bold;
    color: white;
}

#side-bar-components-chosen .side-bar-components-bottom p{
    font-size: 14px;
    font-weight: bold;
    color: white;
}

.side-bar-components{
    width: 77%;
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: white;
    cursor: pointer;
    border: 1px solid #DDDDDD;
}

.side-bar-components:hover{
    background-color: #F5F5F5;
}

.side-bar-components-bottom p{
    font-size: 12px;
    margin-left: 27px;
    color: #555555;
}

.side-bar-components-top{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3px;
}

.side-bar-components-top p{
    font-size: 14px;
    font-weight: bold;
    color: #555555;
}

.login{
    width: 77%;
    padding: 10px 15px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 3px;
    background-color: white;
    cursor: pointer;
    border: 1px solid #DDDDDD;
}

.login p{
    font-size: 14px;
}


.main{
    width: 80%;
    margin-top: 32px;
    margin-bottom: 170px;
}

.top-main{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: 14px;
    gap: 10px;
}

.button1-top-main{
    padding: 10px 12px;
    color: white;
    background-color: #428BCA;
    border-radius: 6px;
}

.button2-top-main{
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    padding: 6px 12px;
    background-color: #5DB85B;
    color: white;
    border-radius: 6px;
}

.text-flow{
    width: 950px;
    height: 110px;
    background-color: white;
    border: 1px solid #8EB6D8;
    margin: 12px 0;
}

.text{
    padding: 6px 12px;
    height: 100%;
    width: 483px;
    font-size: 24px;
    outline: none;
}

.text p{
    font-size: 12px;
}

.typing-frame{
    margin-top: 12px;
    width: 950px;
    height: 48px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background-color: #A6C8E7;
}

.input-frame{
    height: 90%;
}

.timer{
    border-radius: 6px;
    background-color: #3B4E5C;
    height: 80%;
    padding: 0 8px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    border: 1px solid #3B4E5C;
    cursor: pointer;
}

.reset{
    border-radius: 6px;
    background-color: #428BCA;
    height: 80%;
    padding: 0 8px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    border: 1px solid #367EBD;
    cursor: pointer;
}

.reset:hover{
    background-color: #3175B1;
}

.result{
    width: 280px;
    height: 375px;
    display: flex;
    flex-direction: column;
    background-color: gray;
    margin-top: 30px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.result-heading{
    color: white;
    width: 100%;
    height: 34px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: #5182A3;
    gap: 10px;
    padding: 8px 16px;
    border: 1px solid #5182A3;

}

.result-heading-left{
    font-size: 16px;
    font-weight: bold;
}

.result-heading-right{
    font-size: 14px;
}

.result-main{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    background-color: white;
}

.result-main-big{
    font-size: 46px;
    font-weight: bold;
    color: #527a1e;
}

.result-main-small{
    font-size: 12px;
    color: #81888c;
}

.result-components{
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: center;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-top: 1px solid #DDDDDD;
}

.result-components-left{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-left: 20px;
    font-size: 16px;

}

.result-components-right{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
}

.result-components-right-left{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: 12px;
    gap: 2px;
}

.result-components-right-right{
    height: 100%;
    width: 50%;
    font-size: 14px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.share-result{
    background-color: white;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-top: 1px solid #dddddd;
}

.link {
    width: 950px;
    margin-top: 165px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.link-top{
    width: 100%;
    background-color: #DFA419;
    font-size: 16px;
    font-weight: bold;
    color: white;
    padding: 8px 14px;
}

.link-bottom{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.link-bottom-left{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    gap: 24px;
}

.link-bottom-left-below{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 5px;
}

.link-bottom-left-below div{
    border-radius: 6px;
    height: 34px;
}

.facebook, .tung-cua{
    color: white;
    gap: 8px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 4px 8px;
    background-color: #305991;
    cursor: pointer;
}

.twitter{
    color: white;
    gap: 8px;
    background-color: #2CA8D2;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 4px 8px;
    cursor: pointer;
}

.google{
    color: black;
    gap: 8px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 4px 8px;
    cursor: pointer;
}

.email{
    color: white;
    gap: 8px;
    background-color: #282828;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 4px 8px;
    cursor: pointer;
}

.stumbleupon{
    color: white;
    gap: 8px;
    background-color: #EA4B25;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 4px 8px;
    cursor: pointer;
}

.facebook p, .twitter p, .google p, .email p, .tug-cua p, .stumbleupon p{
    font-size: 14px;
}

.facebook:hover, .tung-cua{
    background-color: #2A4D7D;
}

.twitter:hover{
    background-color: #2797BD;
}

.google:hover{
    background-color: #F5F5F5;
}

.email:hover{
    background-color: #040404;
}

.stumbleupon:hover{
    background-color: #DF3D15;
}

.link-bottom-right{
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 30px;
    margin-bottom: 70px;
}

.link-bottom-right-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 15px;
}

.container-information{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 5px;
    color: #333333;
}

.container-information p{
    font-size: inherit;
    font-weight: bold;
}

.container-input{
    border: 1px solid #CCCCCC;
    width: 100%;
    border-radius: 6px;
    background-color: white;
    color: #555555;
}

.container-input input{
    width: 100%;
    font-size: 14px;
    padding: 6px 12px;
    outline: none;
    border: none;
    border-radius: 12px;
    background-color: transparent;
}

.ranking{
    margin-top: 250px;
}

.ranking-option{
    width: 950px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 2px;
}

.ranking-option-icon{
    padding: 10px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 1px solid #DDDDDD;
    border-bottom: none;
    border-radius: 4px;
}

.ranking-option-icon1{
    padding: 10px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D3E9FE;
    border-bottom: none;
    border-radius: 4px;
}

.ranking-option-icon1:hover{
    background-color: #EEEEEE;
}

.ranking-information{
    width: 950px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: white;
    border-radius: 6px;
}

.ranking-information-header{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2px;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 12px;
}

.ranking-information-header a{
    text-decoration: none;
    color: black;
}

.ranking-information-stats{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-top: 1px solid #DDDDDD;
}

.ranking-information-stats a{
    text-decoration: none;
    color: #428BCA;
}

.no, .image{
    width: 10%;
    height: 37px;
    padding: 8px;
}

.name{
    width: 50%;
    height: 37px;
    padding: 8px;
}

.numberwords, .hours{
    width: 20%;
    height: 37px;
    padding: 8px;
}

.footer{
    width: 100%;
    padding: 20px;
    background-color: #161C20;
    display: flex;
    flex-direction: row;
}

.footer-left{
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-left, .footer-middle{
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-right{
    width: 25%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.about{
    width: 100%;
    margin: 20px 0 10px;
    font-size: 24px;
    color: white;
    font-weight: 500;
}

.about-information{
    display: flex;
    flex-direction: column;
    padding: 10px 15px;
    cursor: pointer;
}

.about-information:hover{
    background-color: white;
    border-radius: 6px;
}

.about-information2{
    padding: 10px 15px;
}

.about-information a{
    color: #428BCA;
    text-decoration: none;
}

.about-information2 p{
    color: #666666;
    text-decoration: none;
}
