*{
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

.logo:hover{
    transition: .3s;
    transform: scale(0.8);
}

.dot{
    width: 6px;
    height: 6px;
    border-radius: 100%;
    background-color: #EC8A95;
}

.rectangle{
    width: 2px;
    height: 12px;
    background-color: #EC8A95;
}

.weight700{
    font-weight: 700;
}

.container{
    width: 100vw;
    height: 2457px;
    background-color: white;
}

.number{
    font-size: 12px;
    font-weight: 500;
}

.navbar{
    width: 100%;
    height: 35px;
    background-color: #DB192E;
    position: fixed;
    top: 0;
    z-index: 1000;

}

.navbar-top{
    width: 100%;
    height: 35px;
    padding: 0 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-size: 13px;
    position: relative;
    font-weight: normal;
    background-color: #DB192E;
    z-index: 2000;
}

.navbar-top-component{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: white;
    font-size: 12px;
    cursor: pointer;
}

.navbar-top-component:hover{
    transform: scale(0.9);
    transition: 0.3s;
}

.navbar-bottom{
    width: 100%;
    height: 65px;
    background-color: #DB192E;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 35px;
    padding: 0 125px;
    position: fixed;
    top: 0px;
    z-index: 1000;
}

.navbar-bottom button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4px;
    cursor: pointer;
    padding: 0 16px;
    font-size: 14px;
    color: white;
    background-color: #E55464;
    border: none;
    border-radius: 8px;
}

#unique-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 0 16px;
    font-size: 14px;
    color: white;
    background-color: transparent;
    border: none;
    border-radius: 8px;
}

#unique-button:hover{
    background-color: #D02435;
}


.navbar-bottom button:hover{
    background-color: #CD1227;
}

.search-bar{
    height: 40px;
    width: 350px;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0 20px;
    border-radius: 8px;
}

.input{
    width: 100%;
    height: 40px;
    font-size: 16px;
    outline: none;
    border: none;
    padding: 8px 32px 8px 8px;
    opacity: 0.5;
}

.main{
    margin-top: 64px;
    width: 100%;
    height: 2357px;
    background-color: white;
    padding: 0 125px;
}

.directory{
    width: 100%;
    height: 32px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 8px 0;
}

.directory div{
    width: fit-content;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 4px;
    font-size: 12px;
    padding-right: 10px;
}

.directory div a{
    text-decoration: none;
    cursor: pointer;
    color: black;
}

.directory div div{
    font-size: 16px;
    color: #707070;
}

#directory-mac{
    color: #707070;
}

.advertisement{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 24px;
}

.advertisement img{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.title{
    margin: 0;
    font-size: 20px;
    font-weight: 700;
}

.selection-top{
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 24px;
}

.selection-top div{
    padding: 12px 8px;
    background-color: white;
    border-radius: 6px;
    border: 1px solid #E4E4E7;
}

.selection-top p{
    margin: 0;
}

.selection-middle{
    width: 100%;
    height: 136px;
}

.title-2{
    font-size: 20px;
    font-weight: 700;
    margin: 0 0 16px;
}

.selection-middle-button{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    flex-wrap: wrap;
}

.selection-middle-button button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4px;
    padding: 8px 16px;
    background-color: #F2F2F3;
    border: 1px solid transparent;
    border-radius: 8px;
    cursor: pointer;
}

#selection-middle-button-unique{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4px;
    padding: 8px 16px;
    background-color: #FFFFFF;
    border-radius: 8px;
    border: 1px solid #D70019;
    color: #D70019;
    cursor: pointer;
}

#selection-middle-button-unique:hover{
    background-color: #FAE6E8;
}

.selection-middle-button p{
    margin: 0;
    font-size: 14px;
}

.selection-middle-button button:hover{
    background-color: #CFCFD3;
}

.selection-middle-button button:active{
    border: 1px solid #D70019;
    color: #D70019;
    background-color: #FAE6E8;
}

.selection-bottom{
    width: 100%;
    height: 96px;
    margin-top: 24px;
}

.selection-bottom-top{
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.selection-bottom-top p{
    margin: 0;
}
.selection-bottom-top-left{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.selection-bottom-top-left p{
    margin: 0;
    font-size: 20px;
    font-weight: 700;
}

.selection-bottom-top-right{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.selection-bottom-top-right button{
    padding: 7px 12px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 1px solid #E4E4E7;
    border-radius: 50px;
    gap: 4px;
    background-color: #F7F7F8;
}

.selection-bottom-top-right button:hover{
    background-color: #CFCFD3;
}

.selection-bottom-top-right button:active{
    border: 1px solid #3B81F6;
    color: #3B81F6;
    background-color: #BFD7FE;
}

.display{
    box-sizing: inherit;
    width: 100%;
    height: 1769px;
    background-color: white;
    display: grid;
    justify-self: stretch;
    grid-gap: 34px;
    grid-template-columns: repeat(5, minmax(225px, 1fr));
    margin-bottom: 24px;
}

.display-frame{
    width: 225px;
    height: 416px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    cursor: pointer;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    align-content: flex-start;
    border-radius: 12px;
}

.display-frame-information{
    border-radius: 12px 12px 0 0;
    width: 100%;
    height: 416px;
    padding: 0 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.display-frame-information-sales{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.display-frame-information-sales-left{
    padding: 2px 6px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3px;
    background-color: #D8011C;
    color: white;
    border-radius: 2px 0 4px 4px;
}

.display-frame-information-sales-right{
    padding: 2px 6px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3px;
    color: #3C82F6;
    background-color: #D9E7FE;
    border-radius: 0 2px 4px 4px;
}

.display-frame-information p{
    font-size: 10px;
    margin: 0;
}

.display-frame-information-sales .number{
    font-size: 12px;
    font-weight: 500;
}

.image{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;
}

.display-img{
    width: 160px;
    height: 160px;
}

.image:hover{
    transition: .3s;
    transform: scale(1.1);
}

.product-name{
    width: 100%;
    height: 42px;
}

.product-name p{
    line-clamp: 2; 
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    font-size: 14px;
    font-weight: 700;
}

.price{
    width: 100%;
    height: 24px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    margin: 0 0 4px;
}

.discount-price p{
    margin: 0;
    font-size: 16px;
    color: #d70018;
    font-weight: 700;
}

.original-price{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.original-price p{
    font-size: 12px;
    text-decoration: line-through;
    color: #A1A1AA;
}

.Smember{
    width: 100%;
    height: 17px;
    padding: 2px 4px;
    margin-bottom: 4px;
    background-color: #DBE8FE;
    color: #1E478A;
    border-radius: 6px;
}

.Sstudent{
    width: 100%;
    height: 17px;
    padding: 2px 4px;
    margin-bottom: 4px;
    background-color: #EFE9FE;
    color: #421D95;
    border-radius: 6px;
}

.description{
    width: 100%;
    height: auto;
    padding: 8px;
    background-color: #f2f2f3;
    border-radius: 6px;
    margin-bottom: 8px;
}

.description p{
    line-clamp: 2; 
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
}

.rating{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    align-items: center;
    width: 100%;
    height: 30px;
    margin-bottom: 12px;
    border-radius: 0 0 6px 6px;
    padding: 0 12px;
}

.star{
    display: flex;
    flex-direction: left;
    justify-content: center;
    align-items: center;
    gap: 3px;
}

.star p{
    font-size: 16px;
    font-weight: 600;
}

.like{
    display: flex;
    flex-direction: left;
    justify-content: center;
    align-items: center;
    gap: 3px;
    padding: 4px 8px;
    border-radius: 6px;
}

.like:hover{
    background-color: #F7F7F8;
}

.like p{
    color: #3b82f6;
    font-size: 14px;
    font-weight: inherit;
    margin: 0;
}

.material-symbols-outlined:hover{
    fill: #3b82f6;
}

.more-production{
    width: 100%;
    height: 48px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.more-production-frame{
    padding: 12px 16px;
    background-color: red;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3px;
    color: #3C82F6;
    background-color: #EFF5FF;
    border-radius: 6px;
    cursor: pointer;
}

.more-production-frame:hover{
    background-color: #CCDEFF;
}

.more-production-frame p{
    margin: 0;
}
